.div-main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:linear-gradient(to right,#273038,#4e5c6a);
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: -30px;
}
.div-body{
    height: 100%;
    width: 95%;
    margin-top: 70px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}